.home{
    width: 100%;
    background-image: url(../images/HomeWP.jpg);
    background-size: cover;
    background-position: right bottom, left top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.about{
    width: 100%;
    background-image: url(../images/AboutWP.jpg);
    background-size: cover;
    background-position: right bottom, left top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.welcome{
    font-size: 70px;
}

.myself{
    color: whitesmoke;
}

#nav{
    background-color: rgba(131, 131, 132, 0.6);
    width: 100%;
}

#h:hover{
    background-color: rgb(65, 187, 243);
    color: whitesmoke;
}

#ab:hover{
    background-color: rgb(65, 187, 243);
}

#htext:hover{
    background-color: grey;
    color: whitesmoke;
}


#abtext:hover{
    background-color: grey;
    color:whitesmoke;
}
